amzn:
  toc_file: 'Paleface-1.xhtml'
  toc_id: 'Contents'
  start_reading_file: 'Section0003.xhtml'
  start_reading_id: 'full-title'

ignore:
  html: []
  css: []
  opf: []

css: '''
@media amzn-mobi, amzn-kf8 {
\\t.isbn {display: none;}
}
'''

regexes:
  css: [
    {
      find: '\\s*-epub-ruby-position:over;\\n\\s*color:#000000;\\n'
      replace: ''
    }
    {
      find: '\\s*color\\s*: #000000;'
      replace: ''
    }
    {
      find: 'font-family\\s*:\\s*"Minion Pro", serif;'
      replace: ''
    }
    {
      find: 'text-indent\\s*: -1.3em;\\s*margin\\s*: 0px 0px 0px 1.3em;\\s*}'
      replace: '''
        text-indent : -1.3em;
        \\tmargin : 0px 0px 0px 1.3em;
        }
        @media amzn-mobi {
        \\tp.poem {
        \\t\\tmargin: 0;
        \\t}
        }
        '''
    }
    {
      find: '\\D14px'
      replace: '1.3em'
    }
    {
      find: '\\D28px'
      replace: '2.6em'
    }
    {
      find: '\\D43px'
      replace: '3.9em'
    }
    {
      find: '\\D57px'
      replace: '5.2em'
    }
    {
      find: '\\D71px'
      replace: '6.5em'
    }
    {
      find: '\\D85px'
      replace: '7.8em'
    }
    {
      find: '\\D99px'
      replace: '9.1em'
    }
    {
      find: '\\D113px'
      replace: '10.4em'
    }
    {
      find: '\\D128px'
      replace: '11.7em'
    }
    {
      find: '\\D142px'
      replace: '13em'
    }
    {
      find: '\\D156px'
      replace: '14.3em'
    }
    {
      find: '\\D170px'
      replace: '15.6em'
    }
    {
      find: '\\D184px'
      replace: '16.9em'
    }
    {
      find: '\\D198px'
      replace: '18.2em'
    }
  ]
  opf: []
  xhtml: [
    {
      find: ' \\. \\. \\.'
      replace: '&nbsp;.&nbsp;.&nbsp;.'
    }
    {
      find: ' –'
      replace: '&nbsp;–'
    }
    {
      find: '\\. \\. \\.'
      replace: '.&nbsp;.&nbsp;.'
    }
    # Arc
    # - find: '<p class="colophon">(?=(\\d|\\s)+\\(e)'
    #   replace: '<p class="colophon isbn">'
  ]
