amzn:
  'Book':
    toc_file: 'Book-1.xhtml'
    toc_id: 'contents'
    start_reading_file: 'Book-3.xhtml'
    start_reading_id: 'full-title'

ignore:
  html: []
  css: []
  opf: []

metadata:
  'Book':
    title: 'Book'
    subtitle: 'A lovely read'
    ebookISBN: '9781234567890'
    author: 'John Writer'
    editor: 'Louise Editor'
    illustrator: 'Andy Illustrator'
    translator: 'Wendy Translator'

regexes:
  css: []
  opf: []
  xhtml: [
    {
      find: ' \\. \\. \\.'
      replace: '&nbsp;.&nbsp;.&nbsp;.'
    }
    {
      find: ' –'
      replace: '&nbsp;–'
    }
    {
      find: '\\. \\. \\.'
      replace: '.&nbsp;.&nbsp;.'
    }
  ]
